.loader {
    font-family: "ZCOOL KuaiLe", cursive;
    font-size: 40px;
    color: palevioletred;
}

.loader::after {
    content: '...';
    display: inline-block;
    overflow: hidden;
    vertical-align: bottom;
    animation: dots 2s steps(3, end) infinite;
    width: 0px;
}

@keyframes dots {
    to {
        width: 1.25em;
    }
}












